#credits{
    display: flex;
    /* margin-left: 0rem; */
    margin: 0.2rem 0;
}
#credits li{
    list-style: none;
    /* padding: 0rem 1rem 0rem; */
}
.credit-link{
    color: #000;
    font-weight:700;
    padding-right: 2rem;
}