footer{
    margin-top: 2rem;
}
.contain{
    display: flex;
    flex-direction: column;
}
.ulContain{
    display: flex;
    /* margin: 0.5rem 0 0.5rem; */
}
.ulContain li{
    list-style: none;
}
#first{
    font-weight: bold;
    font-size: 2rem;
    font-weight: 800;
}
.second{
    color: #22C55E;
    font-weight: 800;
}
.tag{
    color: #000;
    font-weight: bold;
    padding-right: 1rem;
    /* padding: 0rem 0.5rem 0rem; */
}
.tag:hover,.tag:focus-visible,.tag:focus{
    color: #22C55E;
}
#lower{
    margin: 2rem 0rem;
}
.signature{
    /* margin: 0.5rem 0.5rem; */
}