footer{
    margin: 4rem 0;
}
.footer-contain{
    margin: 3rem 5rem;
}
.hr{
    margin: 1rem 0rem;
}
.contain{
    display: flex;
    flex-direction: column;
}
.ulContain{
    display: flex;
}
.ulContain li{
    list-style: none;
}
#first{
    margin: 0.6rem 0;
    font-weight: bold;
    font-size: 2rem;
    font-weight: 800;
}
.second{
    color: #22C55E;
    font-weight: 800;
}
.tag{
    color: #000;
    font-weight: bold;
    padding-right: 1rem;
}
.tag:hover,.tag:focus-visible,.tag:focus{
    color: #22C55E;
}
#lower{
    margin: 2rem 0rem;
}
.signature{
    padding: 1rem 0;
}