.contain{
    display: flex;
    flex-direction: column;
}
.ulContain{
    display: flex;
}
.ulContain li{
    list-style: none;
}
#lower{
    margin: 2rem 0rem;
}
.signature{
    margin: 0.5rem 0.5rem;
}