#feature{
    display: flex;
    justify-content: center;
}
.fLeft{
    /* flex: 2; */
    width: 40%;
    height: auto;
}
.fpic{
    width: 100%;
    height: 100%;
}
.fRight{
    /* flex: 3;*/
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.5rem;
    align-items: center;
    
}
#feat{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    background-color: gray;
    border-radius: 1rem;
    height: 4rem;
    width: auto;
}
