.heroGroup{
    display: flex;
    flex-direction: column;
    margin: 5rem 9rem;
    width: 70%;
}
.heroGroup h1{
    font-size: 4.5rem;
    line-height: 4.6rem;
}
.heroLogo{
    color: #22C55E;
}
.heroGroup p{
    margin: 2rem 0;
    font-size: 1.3rem;
    font-weight:600;
    color: #374151;
}
.heroBtn{
    border: none;
    background-color: #22C55E;
    margin: 0.8rem 0;
    padding: 0.8rem 1rem;
    color: #fff;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
}
.home-text{
    font-size: 2.4rem;
}