nav{
    display: flex;
    justify-content:space-between;
    margin: 2rem 5rem;
}
.lnav{
    font-size: xx-large;
    font-weight: bold;
}
.rnav{
    display: flex;
    justify-content: space-between;
}
.profile{
    /* margin: 0rem 1rem; */
    border-radius: 2rem;
}
.profile,.signin{
    margin: 0rem 1rem;
    padding: 1rem;
    outline: none;
    border: none;
}
/* .profile a{
     padding: 0.6rem 2rem;
    margin-right: 1rem;
    background-color: #22C55E; 
    border-radius: 2rem;
}
.signin a{
    padding: 0.8rem 1rem;
    background-color: #000;
    border-radius: 1rem;
} */

/* .profile a,.signin a{
    
    color: #fff;
} */