nav{
    display: flex;
    justify-content:space-between;
    margin: 1rem 2.9rem;
}
.lnav{
    font-size: xx-large;
    font-weight: bold;
}
.rnav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.avi,.in{
    margin: 0rem 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}
.avi{
    padding: 1rem 1.2rem;
    background-color: #22C55E;
    color: #fff;
    border-radius: 2rem;
}
.in{
    background-color: #000;
    color: #fff;
    border-radius: 0.4rem;
}
.profile,.signin{
    margin: 0rem 0.5rem;
    /* margin: 0rem 1rem;
    padding: 1rem; */
    outline: none;
    border: none;
    background-color: transparent;
}
.links{
    color: #fff;
}
/* .profile a{
     padding: 0.6rem 2rem;
    margin-right: 1rem;
    background-color: #22C55E; 
    border-radius: 2rem;
}
.signin a{
    padding: 0.8rem 1rem;
    background-color: #000;
    border-radius: 1rem;
} */

/* .profile a,.signin a{
    
    color: #fff;
} */